.header {
  height: 70px;
  background-color: $blue;

  .header-content {
    position: relative;
    height: 100%;
    max-width: 1300px;
    margin: 0 auto;
    text-align: center;
  }

  .back {
    position: absolute;
    left: 0;
    width: 44px;
    height: 100%;
    margin-left: 1%;
    vertical-align: middle;

    svg {
      transform: translateY(25%);
    }
  }

  .discover-links {
    display: inline-block;
    height: 100%;
    margin: 0 auto;
    line-height: 70px;

    li {
      display: inline;
    }

    a {
      display: inline-block;
      height: 66px;
      padding: 0 20px;
      font-size: 14px;
      letter-spacing: 1.5px;
      color: $white;
      text-decoration: none;
      text-transform: uppercase;
      border-bottom: 4px solid transparent;

      &:hover,
      &.current {
        border-bottom: 4px solid $white;
      }
    }
  }
}
