.search-container {
  position: relative;
  height: 100%;
  margin: 0 10px;
}

.search-box {
  position: absolute;
  top: 40%;
  right: 0;
  left: 0;
  width: 100%;
  max-width: 350px;
  padding: 50px;
  margin: 0 auto;
  background-color: $white;
  border-radius: 2px;
  transform: translateY(-50%);

  .search {
    display: block;
    width: calc(100% - 32px);
    height: 40px;
    padding: 0 15px;
    margin-bottom: 15px;
    border: 1px solid $blue;
    border-radius: 3px;
  }

  .text-divider {
    position: relative;
    margin: 10px 0;
    overflow: hidden;
    text-align: center;

    span {
      color: $gray;

      &:before, &:after {
        position: absolute;
        top: 50%;
        width: 50%;
        height: 1px;
        background-color: $light-gray;
        content: '\a0';
        transform: translateY(-50%);
      }

      &:before {
        margin-left: -55%;
        text-align: left;
      }

      &:after {
        margin-left: 5%;
        text-align: right;
      }
    }
  }
}

@media(max-width: 479px) {
  .search-box {
    padding: 0;
    background-color: inherit;
  }
}
